﻿.btn.btn-primary {
    border-radius: 5px;
    margin-top: 10px;
    border: none;
    box-shadow: 2px 1px 3px 1px #4f50f5;
}
    .btn.btn-primary:hover {
        background-color: rgb(255, 255,255, 0.5);
        color:#4f50f5;
    }
.field-validation-error {
    color: #fb7070;
}
/* CSS cho text box */
.form-control {
    /* Đặt màu nền */
    background-color: #ffffff;
    /* Đặt màu chữ */
    color: #495057;
    /* Đặt viền */
    border: none;
    /* Đặt bo góc */
    border-radius: 0.25rem;
    /* Đặt padding (khoảng cách từ nội dung đến viền) */
    padding: 0.375rem 0.75rem;
    /* Đặt font-size (kích thước chữ) */
    font-size: 1rem;
    /* Đặt line-height (khoảng cách từ dòng này đến dòng tiếp theo) */
    line-height: 1.5;
    box-shadow: 2px 1px 4px 2px #808080;
}

    .form-control:focus {
        box-shadow: 1px 1px 1px 2px #808080;
    }