﻿.nav-item.dropdown {
    background-color: #707070;
    border:none;
    border-radius: 3px;
    box-shadow: 2px 2px 3px 0px #b5b5b5;

}
.nav-link.dropdown-toggle {
}
.dropdown-menu.dropdown-menu-right {
    margin-top: 10px;
    box-shadow: 2px 2px 2px 0px #464545;
    background-color: #888888;
    color: #ff0000;
}
